#game_canvas {
    z-index: 20;
    background-color: white;
}


#GameOver[data-status="0"] {
    --gradient-color-start: rgba(255, 0, 0, 0.37);
    --gradient-color-end: rgba(255, 0, 0, 0);
  }
  
  #GameOver[data-status="1"] {
    --gradient-color-start: rgba(0, 255, 0, 0.37);
    --gradient-color-end: rgba(0, 255, 0, 0);
  }

#GameOver {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 10000;
    background-color: transparent;
    backdrop-filter: blur(36px);
    background: linear-gradient(to bottom right, var(--gradient-color-start), var(--gradient-color-end));
    display: flex;
    justify-content: center;
    align-items: center;
}

#GameOver>.innerGameOver {
    width: 26%;
    height: 70%;
    display: flex;
    border: 2px solid green;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.innerGameOver>h2 {
    font-size: 28px;
}

.innerGameOver>.statsInfo {
    font-size: 20px;
}

.innerGameOver>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.innerGameOver>ul>li {
    padding: 12px 20px 12px 20px;
    width: 80%;
    background-color: #ddd;
    border-radius: 2px;
}

.innerGameOver>.backToMenuOver {
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
}

.innerGameOver>.backToMenuOver:hover {
    transform: scale(1.05);
    background-color: black;
    color: white;
}



#EscapeLevel {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 10000;
    background-color: transparent;
    backdrop-filter: blur(24px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperEscape{
    width: 26%;
    height: 70%;
    display: flex;
    width: 26%;
    height: 70%;
    display: flex;
    border: 2px solid red;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.innerEscape {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.innerEscape>h2 {
    font-size: 28px;
}

.escapeButton {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.escapeButton > button {
    display: flex;
    flex-direction: column;
    gap: 12px;
}