.mainLevelSelect {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: black;
    z-index: 10;
    color: white;
    gap: 12px;
    flex-wrap: wrap;
}

.mainLevelSelect>.mainLevelSelectMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 12px;
}

.mainLevelSelectMenu>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 8%;
    cursor: pointer;
    transition: .2s;
    flex-direction: column;
    height: 20%;
    border-radius: 3%;
}

.mainLevelSelect>.mainLevelSelectMenu>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}




.mainLevelSelect>.mainLevelSelectMenu>p {
    background-color: blue;
    cursor: pointer;
    transition: .2s;
    border-radius: 3%;
}

.hidden {
    display: none !important;
}

.mainLevelSelectMenu>div>div:hover {
    transform: scale(0.95);
}

.backToMenu {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .15s;
}

.backToMenu:hover {
    transform: scale(.95);
}

.modalLevelInfo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
    background-color: white;
    
    border-radius: 20px;
    gap: 10px;
}

.modalLevelInfo > div{
    padding: 15px;
    background-color: black;
    border-radius: 5px;
    width: 60%;
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    background-color: transparent !important;
    color: black;
    width: 10% !important;
    transition: .2s;
    cursor: pointer;
}

.close:hover{
    transform: scale(1.05);
}