body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    background-color: black;
    overflow: hidden;
}

.MESSAGE {
    top: 40px;
    font-size: 25px;
    position: absolute;
    z-index: 10000;
    color: red;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}