.OpenedSettings {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: transparent;
    position: absolute;
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.OpenedSettings>.innerOpenedSettings {
    width: 30%;
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
    z-index: 10;
    background-color: white;
}

.closeSettings {
    position: absolute;
    top: -24px;
    left: 24px;
    font-size: 45px;
    transition: .2s;
    cursor: pointer;
}

.musicRange,
.soundRange {
    width: 50%;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;

}

#sound {
    cursor: pointer
}

.closeSettings:hover {
    transform: scale(1.05);
}

.resetInputsSettings {
    width: 30%;
    color: white;
    display: flex;
    transform: scale(1.25);
    border-radius: 3px;
    padding: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    height: 5%;
    background-color: black;
}

.resetInputsSettings:hover {
    background-color: white;
    transform: scale(1.15);
    color: black;
    border: 1px solid black;
}

.listOfSongs {
    overflow-y: scroll;
    margin-top: 0px;
    width: 80%;
}

.listOfSongs>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.listOfSongs {
    /* Foreground, Background */
    scrollbar-color: #999 #333;
}

.listOfSongs::-webkit-scrollbar {
    width: 10px;
    /* Mostly for vertical scrollbars */
    height: 10px;
    /* Mostly for horizontal scrollbars */
}

.listOfSongs::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #999;
}

.listOfSongs::-webkit-scrollbar-track {
    /* Background */
    background: #333;
}

.listOfSongs>ul>li {
    display: flex;
    gap: 12px;
    overflow: hidden;
    transition: .3s;
    padding: 10px 0px 10px 5px;
    margin-right: 10px;
    border-radius: 5px;
    align-items: center;
}

.listOfSongs>ul>li>img {
    width: 70px;
    height: 70px;
    border-radius: 15%;
}

.listOfSongs>ul>li:hover {
    background-color: grey;
    cursor: pointer;
}

.paginateSongResults {
    display: flex;
    gap: 20px;
    font-size: 20px;

}

.paginateSongResults>.right {
    transition: .1s;
    cursor: pointer;
}

.paginateSongResults>.left {
    transition: .1s;
    cursor: pointer;
}

.paginateSongResults>.right:hover {
    transform: scale(1.24);
}

.paginateSongResults>.left:hover {
    transform: scale(1.24);
}

.PickSoundOrMusic {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
    width: 80%;
}

.PickSoundOrMusic>div {
    color: white;
    cursor: pointer;
    padding: 6px 12px 6px 12px;
    transform: scale(1.27);
    margin-top: 12px;
    background-color: black;
    border-radius: 2px;
    transition: .15s;
}


.PickSoundOrMusic>div:hover {
    color: black;
    background-color: white;
    border-radius: 2px;
    border: 1px solid black;
}